.boxshadow .palette-magenta-blue .header-color-row-one {
	background-color: #009F89;
	color: white;
}

.palette-magenta-blue .header-color-row-two {
  background-color: #009F89;
  color: white;
}

@media only screen and (min-width: 768px) {
  body.front.not-logged-in #page {
    background: url('images/flypug.jpg?1400510663') center top no-repeat;
  }
}

.palette-magenta-blue .header-color-row-two {
  border: 0 none;
}

